<div class="pagination">
  <a href="{{ '/' | relative_url }}">1</a>
  {% if paginator.total_pages < 5 %}
    {% for idx in (2..paginator.total_pages) %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', idx }}"> {{ idx }} </a>
    {% endfor %}
  {% else %}
    {% if paginator.page < 4 %}
      {% for idx in (2..paginator.total_pages) %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', idx }}"> {{ idx }} </a>
      {% endfor %}
      <a> ... </a>
    {% else %}
      <a> ... </a>
      {% if paginator.page == paginator.total_pages %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.previous_page-1 }}"> {{ paginator.previous_page-1 }} </a>
      {% endif %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.previous_page }}"> {{ paginator.previous_page }} </a>
      <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.page }}"> {{ paginator.page }} </a>
      {% if {{ paginator.total_pages - paginator.page }} < 3 %}
        {% for idx in (paginator.next_page..paginator.total_pages-1) %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', idx }}"> {{ idx }} </a>
        {% endfor %}
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.next_page }}"> {{ paginator.next_page }} </a>
        <a> ... </a>
      {% endif %}
    {% endif %}
    <a href="{{ site.paginate_path | relative_url | replace: ':num', paginator.total_pages }}"> {{ paginator.total_pages }} </a>
  {% endif %}

</div>
