<div class="tag-wrapper">
  <article>
    <!-- Displays the list of tags-->
    {% include tags_cloud.html %}

    <!-- Displays the posts and pages that contains the tag-->
    <div class="posts">
        {% for tag in site.tags %}
        <h3 id="{{ tag | first | slugify }}" class="tag-anchor">
            <a href="#{{ tag | first | slugify }}">
              <i class="fa fa-tag fa-fw"></i> {{ tag[0] | replace:'-', ' ' }}</a>
            <a href="#{{ page.title }}" style="float: right"><i class="fa fa-chevron-up" aria-hidden="true"> </i> </a>

        </h3>

        <!-- Posts and collection for each tags -->
        <div class="tag-posts">
            <!-- Posts -->
            {% for post in tag[1] %}
                <div class="tag-title">
                    <a href="{{ post.url | relative_url }}">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        {{ post.title }}
                    </a>

                    <div class="meta">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
  </article>
</div>
