<!-- cycles through posts to get tags -->
{% assign rawtags = "" %}
{% for post in site.posts %}
{% if post.tags.size > 0 %}
{% assign post_tags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:post_tags %}
{% endif %}
{% endfor %}

<!-- cycles through pages to get tags -->
{% for page in site.pages %}
{% if page.tags.size > 0 %}
{% assign page_tags = page.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:page_tags %}
{% endif %}
{% endfor %}

<div class="tag-wrapper">
  <article>
    <!-- Displays the list of tags-->
    {% include tags_list.html tags=rawtags %}

  </article>
</div>
