{% assign sorted_tags = site.tags | sort %}

{% if sorted_tags.size > 0 %}
<footer>
  <div class="tag-list">
    {% if sorted_tags.size == 1 %}
      <div class="meta">Tag</div>
    {% else %}
      <div class="meta">Tags</div>
    {% endif %}

    {% for tag in sorted_tags %}

    {% assign tags_size = sorted_tags.size | times: 1.0 %}
    {% assign tag_size = tag | last | size %}
    {% assign alpha = tag_size | divided_by: tags_size %}

    <a class="button{% if alpha > 0.3 %} hover-white{% endif %}" href="{{ "/tags" | relative_url }}#{{ tag | first | cgi_escape }}" style="background: rgba(69, 123, 157, {{ alpha }}); font-size: {{ tag_size  |  times: 4 | plus: 80  }}%;">
      <p><i class="fa fa-tag fa-fw"></i> {{ tag[0] | replace:'-', ' ' }} ({{ tag_size }})</p>
    </a>
    {% endfor %}
  </div>
</footer>
{% else %}
<footer>
  <div class="tag-list text-center"></div>
</footer>
{% endif %}
