{% assign sorted_tags = site.tags | sort %}

<div class="tag-wrapper">
  <article>
    <!-- Displays the list of tags-->
    {% include tags_cloud.html %}

    <!-- Displays the posts and pages that contains the tag-->
    <div class="posts">
        {% for tag in sorted_tags %}
        <h3 id="{{ tag | first | cgi_escape }}" class="tag-anchor">
            <i class="fa fa-tag fa-fw"></i> {{ tag[0] | replace:'-', ' ' }}
        </h3>

        <!-- Posts and collection for each tags -->
        <div class="tag-posts">
            <!-- Posts -->
            {% for post in tag[1] %}
                <h4 class="tag-title">
                    <a href="{{ post.url | relative_url }}">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        {{ post.title }}
                    </a>

                    <div class="meta">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </div>
                </h4>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
  </article>
</div>
