{% assign sorted_tags = site.tags | sort %}

{% if sorted_tags.size > 0 %}
<footer>
  <div class="tag-list">
    {% if sorted_tags.size == 1 %}
      <div class="meta">Tag</div>
    {% else %}
      <div class="meta">Tags</div>
    {% endif %}

    {% for tag in sorted_tags %}
    {% assign t_size = sorted_tags.size | times: 1.0 %}
    <a class="button" href="{{ "/tags" | relative_url }}#{{ tag | first | slugify }}" style="background: rgba(252, 163, 17, {{ tag | last | size  |  divided_by: t_size }}); font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%;">
      <p><i class="fa fa-tag fa-fw"></i> {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</p>
    </a>
    {% endfor %}
  </div>
</footer>
{% else %}
<footer>
  <div class="tag-list text-center"></div>
</footer>
{% endif %}
