/* --- Pagination --- */
.pagination {
  @extend %padding-nav;
  display: inline-block;
  text-align: center;
  //margin-bottom: 2em;
  width: 100%;
  clear: both;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  a.page-number {
    display: inline-block;
    color: $text-color;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    line-height: 1.9em;

    &:hover, a.page-number.current {
      background: white;
      border: 1px solid $link-color;
    }
  }

  a.page-number.current {
    pointer-events: none;
  }

  .button {
    margin: 0;
    display: inline-block;

    .fa {
      &.fa-chevron-right, &.fa-chevron-left {
        font-size: initial;
      }
    }

    i .fa-chevron-left .fa-chevron-right {
      vertical-align: inherit;
    }
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}
