.category-wrapper {
  margin-bottom: $padding-x-small;

  article {
    @extend %wrapper-size;
  }

  .posts {
    display: inline-block;
    padding: 0;

    .post {
      width: 50%;
      height: 200px;
      float: left;

      .category-anchor {
        margin: 0;
      }

      .category-title {
        margin-top: .3em;
        margin-bottom: 0;
        font-weight: normal;

        a {
          margin-left: $padding-x-small;
        }
      }
    }

    @media screen and (max-width: $sm-break) {
      .post {
        width: 100%;
        height: auto;
        float: none;
      }
    }
  }
}
