#post-nav {
  @extend %padding-nav;
  border-top: 1px solid #ccc;

  a {
    text-decoration: none;

    i.fa {
      line-height: .5em;
      margin: 0 5px;
    }
  }

  #previous-post, #next-post {
    display: inline-block;
    width: 50%;
  }

  #next-post {
    float: right;
    text-align: right;
  }

  @media screen and (max-width: $sm-break) {
    a, p {
      font-size: 0.8em;
    }

    a i.fa {
      line-height: .2em;
    }
  }
}
