.tag-wrapper {
  margin-bottom: $padding-x-small;

  .posts {
    padding: $padding-x-small;
  }

  .tag-list {
    text-align: center;

    div.meta {
        display: none;
    }

    a.button {

      &:hover {
        color: $meta;
        border: 1px solid $meta;
      }

      &.hover-white:hover {
        color: $brand-color;
      }
    }
  }

  article footer {
      padding: 0 3% 3%;
      border-bottom: 1px solid #ccc;
  }
}

.tag-list {
  text-align: left;

  div.meta {
    margin-right: 0.5em;
  }

  a.button {
    margin: 0.1em;
    padding: 0.2em 0.4em;
  }

  p {
    margin: 0;
    padding: 0 0.2em 0 0;
  }
}

.tag-anchor {
  margin: .5em 0 0;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.tag-posts {
  display: inline-block;
  width: 100%;

  .tag-title {
    margin-top: .3em;
    margin-bottom: 0;
    font-weight: normal;

    a {
      margin-left: $padding-x-small;
    }
  }

  .meta {
    display: inline;
    float: right;
    font-size: 0.7em;
    line-height: normal;
  }
}

@media screen and (max-width: $sm-break) {
  .tag-posts .meta {
    display: none;
  }
}
