/* --- Header text feature --- */
.call-out {
  @extend %padding-header;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  text-align: center;
  color: $header-text-color;
  background: no-repeat $header-background-color;
  background-size: $feature-image-size;

  /* --- Responsive --- */
  // @media screen and (min-width: $break) {
  //   background-size: 120% auto;
  // }
  //
  // @media screen and (max-width: $break) {
  //   background-size: 200% auto;
  // }
  //
  // @media screen and (max-width: $sm-break) {
  //   background-size: 400% auto;
  // }

  //For white images
  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $font-family-logo;
    @extend .header-txt-shadow;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% -50px, 0 center, center top;
}

.content {
    background-color: $background-color;
}

.blog-wrapper {
    max-width: $m-break;
    width: 95%;
    margin: 0 auto;
}

/* --- search box --- */
.search-container {
  margin: 5px auto;
  height: 2.7em;
  position: relative;

  .search-bar {
    display: none;
    width: 15em;
    padding: .6em;
    margin-left: auto;

    background: $brand-color none;
    color: $text-color;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    &:focus,
    &:hover {
      border-color: $link-color;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $link-shadow;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $link-shadow;
    }

  }

  .find-icon {
    position: absolute;
    right: 1em;
    top: .5em;

    &:hover {
      color: $theme-color;
    }
  }

  #results-container {
    display: none;
    width: 70%;
    background: $brand-color;
    border: 1px solid #ccc;
    position: absolute;
    right: 0;
    top: 2.7em;
    list-style: none;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;
  }

  .search-title {
    border-bottom: 1px solid #ccc;
    padding: .3em .5em;

    &:hover {
      background-color: $background-color;
    }

    a {
      display: block;
      font-size: 1.3em;
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }

    hr {
      margin: 5px 0;
    }

    .search-date {
      color: $meta;
      font-size: .9em;
    }
  }
}

@media (max-width: $break) {
  .search-container #results-container {
    width: 100%;
  }
}

/* --- Post listing --- */
.posts {
  .post-teaser {
    @extend %padding-post;
    background-color: $brand-color;
    box-shadow: 3px 3px 5px #ccc;
    margin-bottom: 1em;
    background-size: $feature-image-size;

    p a {
      @extend .body-link;
    }

    .post-img {
      vertical-align: middle;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 1em;

      @media (min-width: $break) {
        height: 250px;
      }

      //Smaller screen
      @media screen and (max-width: $break) {
        height: 150px;
      }

      img {
        width: 100%;
        padding: 0;
        vertical-align: middle;
      }
    }

    .post-img img {
      -moz-transition-timing-function: ease-out;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;

      -moz-transition: all 2s;
      -webkit-transition: all 2s;
      transition: all 2s;

      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  .category {
    margin-bottom: .5em;
  }
  
  .excerpt {
    margin: 1em 0;
  }
}
