.comments,
.post-wrapper article,
.tag-wrapper article {
  max-width: $m-break;
  margin: 0 auto;
}

.comments {
  @extend %padding-post;
}

.post-wrapper,
.tag-wrapper {
  margin-top: $padding-x-small;

  article {
    background: $brand-color;
    box-shadow: 3px 3px 5px #ccc;
    width: 95%;
    padding: $padding-x-small;

   header {
     margin-bottom: $padding-x-small;
     text-align: center;
   }

   a:hover {
     @extend .body-link;
   }

   .footnotes {
     font-size: 0.9em;
   }
 }
}

.post-content > footer {
  margin-bottom: 1em;
}

.tag-wrapper article footer {
    padding: 0 3% 3%;
    border-bottom: 1px solid #ccc;
}

footer {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9em;
  display: inline-block;
  text-align: center;

  .meta {
    display: inline;
  }

  a.button {
    margin-left: 1em;
  }
}

header {
  h1 {
    margin: 0;
  }
}

.meta {
  color: $meta; // rgba($text-color, .65);
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

/* --- Post info --- */
.post-info {
  /* For border in author
  border: 1px solid $border-color;
  padding-left: 0.5em;
  */
  border-radius: 1em;
  padding-right: 0.5em;
  display: inline-flex;

  a {
    display: flex;
    align-items: center;
    img {
      height: auto;
    }
  }

  img {
    border-radius: 1em;
    padding: 0;
    width: 1.5em;
    height: 100%;
    margin-right: 0.5em;
  }
}

/* --- Feature image --- */
.post-wrapper {
  .feature-image {
    padding: 0;

    .post-link {
      color: $feature-image-text-color;
    }

    header {
      color: $feature-image-text-color;
      margin-bottom: 0;
      padding: $padding-large/2.5 $padding-large;

      /*-- feature-image Responsive scrolling --*/

      // @media screen and (max-width: $break) {
      //   padding: $padding-large*1.5 $padding-small;
      // }

      @media screen and (min-width: $break) {
        background-size: 120% auto;
      }

      @media screen and (max-width: $break) {
        background-size: 200% auto;
      }

      // @media screen and (max-width: $sm-break) {
      //   background-size: 400% auto;
      // }


      .meta {
        color: rgba($feature-image-text-color, .7);
      }
    }

    .post-content {
      @extend %padding-post;
      padding-top: 0;
    }

    footer {
      @extend %padding-post;
      padding-top: 0;
    }

    .feature-image-padding {
      padding: $feature-image-padding;
    }
  }
}
