---
layout: page
---
{% assign category = page.title %}

<div class="category-wrapper">
  <article>
    <!-- Displays the posts that contains the category-->
    <div class="posts">
      <div class="post">
        <h3 id="{{ category | cgi_escape }}" class="category-anchor">
          <i class="fa fa-folder fa-fw"></i> {{ category[0] | replace:'-', ' ' }}
        </h3>

        <!-- Posts and collection for each categories -->
        <div class="category-posts">
            <!-- Posts -->
            {% for post in site.categories[category] %}
                <h4 class="category-title">
                    <a href="{{ post.url | relative_url }}">
                        <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                        {{ post.title }}
                    </a>
                    <div class="meta">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </div>
                </h4>
            {% endfor %}
        </div>
      </div>
    </div>
  </article>
</div>
