---
layout: page
---
{% assign category = page.title %}

<div class="category-wrapper">
  <article>
    <!-- Displays the posts that contains the category-->
    <div class="posts">
      <div class="post">
        <h3 id="{{ category }}" class="category-anchor">
          <i class="fa fa-folder fa-fw"></i> {{ category }}
        </h3>

        <!-- Posts and collection for each categories -->
        <div class="category-posts">
            <!-- Posts -->
            {{ category }}
        </div>
      </div>
    </div>
  </article>
</div>
