---
layout: default
---

<article class="feature-image">
  {% if page.feature-img %}
    <header id="main" class="call-out" style="background-image: url('{{ page.feature-img | relative_url }}')">
  {% else %}
    <header id="main" class="call-out" style="background-image: url('{{ site.header_feature_image | relative_url }}')">
  {% endif %}

    {% if page.hide_title %}
      <h1 class="title"> {{ site.header_text }} </h1>
    {% else %}
      <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title"> {{ page.title }}</h1>
      {% if page.subtitle %}
      <h2 class="subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    {% endif %}
  </header>

  <section class="post-content">
  {% if page.bootstrap %}
  <div class="bootstrap-iso">
  {% endif %}
	{{ content }}
  {% if page.bootstrap %}
  </div>
  {% endif %}
  </section>

</article>
